:root {
	--primary-color: #23262c;
	--secondarylt-color: #03a9f4;
	--secondary-color: #01579b;
	--font-color: #596174;
	--fontlt-color: #e8e6e3;
	--bg-color: #292922;
	--headinglt-color: #f4eded;
	--heading-color: #292922;
}
[data-theme="dark"] {
}
a {
	z-index: 0;
}
body {
	background-color: var(--bg-color);
}
#logofont {
	color: var(--font-color);
}
#flink {
	color: var(--font-color);
}
#flink:hover {
	color: var(--secondary-color);
}
.main {
	background-color: var(--bg-color);
}
#mainbar {
	background-color: var(--primary-color);
}
.buttonsbar00 {
	background-color: var(--primary-color);
	opacity: 0.5;
	align-items: center;
}
.softbox {
	color: var(--font-color);
}
.softbox:hover {
	color: var(--secondary-color);
}
.svg {
	fill: var(--font-color);
}
.svg:hover {
	fill: var(--secondary-color);
}

#footer {
	background-color: var(--primary-color);
	color: var(--font-color);
}
.footerheader {
	color: var(--alpha);
}
a,
a:visited {
	color: var(--font-color);
}
a:hover {
	color: var(--secondary-color);
}
.moving {
	background-color: var(--beta);
	box-shadow: 2px 3px 3px;
}
.heading {
	color: var(--primary-color);
}
.heading:hover {
	color: var(--secondary-color);
}
.switchsvg {
	fill: var(--font-color);
	color: var(--font-color);
}
.switchsvg:hover {
	fill: var(--secondary-color);
	color: var(--secondary-color);
}
@keyframes yolo {
	from {
		opacity: 0;
		transform: translateX(20px);
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
		transform: translateY(0px);
	}
}

.svgg {
	fill: var(--alpha);
	transition: 0.5s;
	width: 100px;
	height: 100px;
}
.svgg:hover {
	fill: var(--alpha);
}
.contactheader {
	color: var(--font-color);
}
.contactfield {
	color: var(--bg-color);
}
.contactbutton {
	color: var(--font-color);
}
.contactbutton:hover {
	border: 2px solid var(--secondary-color);
	color: var(--secondary-color);
}
.servicelist {
	background-color: var(--alpha);
	color: var(--alpha);
}
.bgG {
	/* background-image: url("woodenBack.jpg"); */
	border-radius: 10px;
}
.copywright {
	background-color: var(--secondary-color);
	color: "var(--primary-color)" !important;
}
::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--font-color);
	opacity: 1; /* Firefox */
}

.ant-timeline-item-tail {
	border-left: 2px solid var(--font-color) !important;
}
.ant-timeline-item-head {
	background-color: var(--font-color);
}
.ant-statistic-title {
	color: var(--font-color) !important;
}
.ant-statistic-content-value {
	color: var(--font-color) !important;
}
.ant-timeline-item-content {
	color: var(--font-color) !important;
}
