@import "config.module.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body {
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
}

* {
	box-sizing: border-box;
}
.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.main {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer {
	width: 100%;
	height: 100px;
	border-top: 1px solid #eaeaea;
	/* display: flex; */
	justify-content: center;
	align-items: center;
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 4rem;
}

.title,
.description {
	text-align: center;
}

.description {
	line-height: 1.5;
	font-size: 1.5rem;
}

.code {
	background: #fafafa;
	border-radius: 5px;
	padding: 0.75rem;
	font-size: 1.1rem;
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
	margin-top: 3rem;
}

.card {
	margin: 1rem;
	padding: 1.5rem;
	text-align: left;
	color: inherit;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
	width: 45%;
}

.card:hover,
.card:focus,
.card:active {
	color: 0.007f3;
	border-color: 0.007f3;
}

.card h2 {
	margin: 0 0 1rem 0;
	font-size: 1.5rem;
}

.card p {
	margin: 0;
	font-size: 1.25rem;
	line-height: 1.5;
}

.logo {
	height: 1em;
	margin-left: 0.5rem;
}

@media (max-width: 600px) {
	.fcontent {
		display: block;
	}
	.grid {
		width: 100%;
		flex-direction: column;
	}
	.pcnavpart {
		display: none;
	}
	.switch {
		display: block;
	}
	.list {
		display: block;
	}
	.navbarlist {
		width: 100%;
		position: fixed;
		bottom: 0px;
		left: 0px;
		height: 0px;
		margin: 0px;
	}
}
@media only screen and (min-width: 600px) {
	.fcontent {
		display: block;
	}
	.switch {
		display: block;
	}
	.navbarlist {
		width: 100%;
		position: fixed;
		bottom: 0px;
		left: 0px;
		height: 0px;
		margin: 0px;
	}
}
@media only screen and (min-width: 768px) {
	.fcontent {
		display: flex;
	}
	.pcnavpart {
		display: block;
	}
	.switch {
		display: block;
	}
	.navbarlist {
		width: 100%;
		position: fixed;
		bottom: 0px;
		left: 0px;
		height: 0px;
		margin: 0px;
	}
}
@media only screen and (min-width: 992px) {
	.fcontent {
		display: flex;
	}
	.exitbar {
		display: none;
	}
	.pcnavpart {
		display: block;
	}
	.switch {
		display: none;
	}
	/* .list {
		display: flex;
	} */
	.navbarlist {
		position: initial;
		padding: initial;
		width: initial;
		height: initial;
		display: flex;
	}
}
@media only screen and (min-width: 1200px) {
	.fcontent {
		display: flex;
	}
	.exitbar {
		display: none;
	}
	.pcnavpart {
		display: block;
	}
	.switch {
		display: none;
	}
	/* .list {
		display: flex;
	} */
	.navbarlist {
		position: initial;
		padding: initial;
		width: initial;
		height: initial;
		display: flex;
	}
}
#mainbar {
	justify-content: space-between;
	height: 60px;
	width: 100%;
	display: flex;
	transition: 0.5s;
}
.switch {
	margin: 15px;
	border: none;
	background: transparent;
}
.switchsvg {
	transition: 0.5s;
}
.logocont {
	overflow: hidden;
}
.logofont {
	color: var(--font-color);
}

.list {
	list-style-type: none;
}
.heading {
	padding: 10px;
	font-weight: 500;
	size: 20px;
}
.switchsvg {
	background: none;
	border: none;
}
.exitbar {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 30px;
	right: 30px;
}
.navbarlist {
	list-style-type: none;
	transition: 0.5s;
	overflow: hidden;
	opacity: 1;
	z-index: 9999;
}
.buttonsbar00 {
	display: flex;
	opacity: 1;
	justify-content: flex-end;
	transition: 0.5s;
}

.svg {
	width: 30px;
	margin-left: 5px;
	margin-right: 5px;
	height: 30px;
}

.cardlayout {
	margin: 20px;
	padding: 10px;
}
#laststmt {
	width: 100%;
	text-align: center;
}
#footer {
	width: 100%;
}
.theme-switch-wrapper {
	display: flex;
	align-items: center;
}
.theme-switch {
	display: inline-block;
	height: 34px;
	position: relative;
	width: 60px;
}

.theme-switch input {
	display: none;
}

.slider {
	background-color: #ccc;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: 0.4s;
}

.slider:before {
	background-color: #fff;
	bottom: 4px;
	content: "";
	height: 26px;
	left: 4px;
	position: absolute;
	transition: 0.4s;
	width: 26px;
}

input:checked + .slider {
	background-color: #66bb6a;
}

input:checked + .slider:before {
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
@media only screen and (max-width: 600px) {
	#imgpic {
		overflow: hidden;
		width: initial;
	}
	.yarr {
		display: block;
	}
	.resizable {
		width: 90%;
	}
}
@media only screen and (min-width: 600px) {
	.yarr {
		display: block;
	}
	.resizable {
		width: 90%;
	}
}
@media only screen and (min-width: 768px) {
	.yarr {
		display: flex;
	}
	.resizable {
		width: 80%;
	}
}
@media only screen and (min-width: 992px) {
	.yarr {
		display: flex;
	}
	.resizable {
		width: 80%;
	}
}
@media only screen and (min-width: 1200px) {
	.yarr {
		display: flex;
	}
	.resizable {
		width: 80%;
	}
}
.overflowhidden {
	overflow: hidden;
}
.list {
	list-style-type: none;
	justify-content: center;
	text-align: center;
}
.resizable {
	margin-left: auto;
	margin-right: auto;
}
#hl {
	width: 0px;

	border-left: 1px solid grey;
	margin-right: 10px;
}
#verticalline {
	border-top: 2px solid grey;
}

.heading {
	border: none;
}
.heading:hover {
	background-color: rgba(0, 0, 0, 0.1);
	transition: 0.2s;
}
#banner {
	height: 600px;
	border-bottom-left-radius: 32px;
	border-bottom-right-radius: 32px;
	overflow: hidden;
}
.contactfield {
	width: 80%;
	margin: 1%;
	height: 30px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--bg-color);
	font-size: 18px;
	border-radius: 4px;
}
.contactbutton {
	margin: 20px;
	border: none;

	font-size: 18px;
	border-radius: 4px;
	transition: 0.5s;
	background-color: transparent;
	border: 1px solid var(--bg-color);
}
.typebox {
	width: 180px;
	height: 250px;
	padding-left: 30px;
	margin: 10px;
	border: 1px solid black;
	border-color: var(--bg-color);
	border-radius: 4px;
	transition: 0.1s;
	padding: 20px;
	box-shadow: none;
	background-color: transparent;
}
.typebox:hover {
	box-shadow: 2px 3px 3px;
}
.servicelist {
	list-style-type: none;
	border: 1px solid black;
	background-color: b;
	border-radius: 4px;
	box-shadow: 2px 3px 3px black;
	padding: 20px;
	margin-bottom: 20px;
}

.bannertextwrapper:before {
	content: "Marketing";
	transition: opacity 2s;
	animation: fadeIn 10s linear infinite;
}

@-webkit-keyframes fadeIn {
	0% {
		content: "MARKETING";
	}
	25% {
		content: "MANAGEMENT";
	}
	50% {
		content: "CLIENT SERVICES";
	}
	75% {
		content: "LEADER";
	}
	100% {
		content: "TEAM PLAYER";
	}
}
.hovcard:hover {
	transition: 0.5s;
	box-shadow: none;
}
.hovcard:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
